body {
    font-family:  'Rajdhani', sans-serif;
    align-items: center;
    
}

h1{
    color: #ec183f;
    text-align: center;
}

h3{
    font-family:  'Rajdhani', sans-serif;
}

#saudacao {
    color: black
}



footer ul {
    list-style-type: none;
    display: block;
    margin: 1;
    padding: 10;
    overflow: hidden;
    background-color: #333333;
  }
  
  footer li {
    float: left;
   
    
  }
  
  footer li a {
    float: center;
   
    color: white;

    padding: 10;

    
  }
  
  li a:hover {
    background-color: #111111;
  }
